@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #262626;
  --color-card: #ffffff;
  --color-card-foreground: #262626;
  --color-primary: #ffd900;
  --color-primary-foreground: #333333;
  --color-secondary: #003366;
  --color-secondary-foreground: #ffffff;
  --color-muted: #f9fafb;
  --color-muted-foreground: #6b7280;
  --color-accent: #fffacc;
  --color-accent-foreground: #92400e;
  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #f59e0b;
  --font-sans: "Inter", "Inter Fallback", sans-serif;
  --radius: 0.7rem;
  --shadow-color: #364153;
  --shadow-2xs: 0px 4px 15px -1px #3641530d;
  --shadow-xs: 0px 4px 15px -1px #3641530d;
  --shadow-sm: 0px 4px 15px -1px #3641531a, 0px 1px 2px -2px #3641531a;
  --shadow: 0px 4px 15px -1px #3641531a, 0px 1px 2px -2px #3641531a;
  --shadow-md: 0px 4px 15px -1px #3641531a, 0px 2px 4px -2px #3641531a;
  --shadow-lg: 0px 4px 15px -1px #3641531a, 0px 4px 6px -2px #3641531a;
  --shadow-xl: 0px 4px 15px -1px #3641531a, 0px 8px 10px -2px #3641531a;
  --shadow-2xl: 0px 4px 15px -1px #36415340;
}

body {
  font-family: var(--font-sans);
  background: var(--color-background);
  color: var(--color-foreground);
}

html {
  scroll-behavior: smooth;
}
